<!DOCTYPE html>
<html lang="en-US">
<%= partial "head" %>

<body>
  <div class="container-fluid">
  <div class="row">
    <%= partial "nav" %>
    <%= yield %>
    <%= partial "footer" %>
    </div>
  </div>
</body>

</html>