---
title: Colors - Ferrocene Style Guide
---

<div class="col-lg-10 offset-lg-2 col-md-12 py-5">
  <div class="container">
    <h1 class="pb-4">Colors</h1>

    <h2 id="brand" class="pb-2">Brand</h2>
    <p>Ferrocene’s brand uses a dark blue as a primary color and a teal as a secondary color. They are designed to complement each other as they are accessible and conform with WCAG 2.0 AA accessibility standards.</p>

    <div class="row pb-4">
      <div class="col-lg-3 col-sm-12 mb-4 mb-lg-0">
        <p class="fw-bold text-muted mb-1">Blue</p>
        <div class="curved background-blue-800 pt-5 pb-3 px-3">
          <p class="text-white pt-4 mb-0"><span class="fw-bold d-inline-block mb-3">$blue-800</span>
          <br>$blue-800
          <br>#194E80
          <br>PANTONE 4153 C
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 mb-4 mb-lg-0">
        <p class="fw-bold text-muted mb-1">Teal</p>
        <div class="curved background-teal-300 pt-5 pb-3 px-3">
        <p class="pt-4 mb-0"><span class="fw-bold d-inline-block mb-3">$teal-300</span>
        <br>$teal-300
        <br>#7CF3C8
        <br>PANTONE 3375 C
        </p>
        </div>
      </div>
    </div>

    <h2 id="extended" class="pt-5">Extended</h2>
    <p>Based on the brand colors, an extended color palette is used for UI and artwork.</p>

    <div class="row justify-content-between pb-4">
      <div class="col-lg-4 col-md-12 mb-5 mb-lg-0">
      <p class="fw-bold text-muted mb-3">Blue</p>
      <div class="distributed palette">
             <div class="colors">
               <div class="color-overview background-blue-50 p-2">
                 <span class="variable">$blue-50</span>
                 <span class="hex f-small">#EFF6FF</span>
               </div>
               <div class="color-details border-blue-50 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-50 border-blue-50 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-50 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-50 border-blue-50 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-50 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-50 border-blue-50 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-50 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-50 border-blue-50 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-50 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-100 p-2">
                 <span class="variable">$blue-100</span>
                 <span class="hex f-small">#DBEAFE</span>
               </div>
               <div class="color-details border-blue-100 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-100 border-blue-100 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-100 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-100 border-blue-100 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-100 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-100 border-blue-100 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-100 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-100 border-blue-100 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-100 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-200 p-2">
                 <span class="variable">$blue-200</span>
                 <span class="hex f-small">#BFDAFD</span>
               </div>
               <div class="color-details border-blue-200 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-200 border-blue-200 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-200 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-200 border-blue-200 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-200 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-200 border-blue-200 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-200 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-200 border-blue-200 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-200 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-300 p-2">
                 <span class="variable">$blue-300</span>
                 <span class="hex f-small">#93C5FD</span>
               </div>
               <div class="color-details border-blue-300 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-300 border-blue-300 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-300 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-300 border-blue-300 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-300 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-300 border-blue-300 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-300 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-300 border-blue-300 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-300 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-400 p-2">
                 <span class="variable">$blue-400</span>
                 <span class="hex f-small">#68A4E8</span>
               </div>
               <div class="color-details border-blue-400 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold mb-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-400 border-blue-400 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-400 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-400 border-blue-400 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-400 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold mb-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-400 border-blue-400 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-400 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-400 border-blue-400 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-400 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-priority color-overview background-blue-500 p-2">
                 <span class="variable">$blue-500</span>
                 <span class="hex f-small">#4783CF</span>
               </div>
               <div class="color-details border-blue-500 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-500 border-blue-500 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-500 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-500 border-blue-500 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-500 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-500 border-blue-500 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-500 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-500 border-blue-500 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-500 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-600 p-2">
                 <span class="variable inverted">$blue-600</span>
                 <span class="hex f-small inverted">#3168B0</span>
               </div>
               <div class="color-details border-blue-600 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-600 border-blue-600 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-600 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-600 border-blue-600 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-600 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-600 border-blue-600 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-600 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-blue-600 border-blue-600 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-600 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-700 p-2">
                 <span class="variable inverted">$blue-700</span>
                 <span class="hex f-small inverted">#235796</span>
               </div>
               <div class="color-details border-blue-700 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-700 border-blue-700 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-700 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-700 border-blue-700 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-700 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-700 border-blue-700 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-700 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-700 border-blue-700 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-700 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-800 p-2">
                 <span class="variable inverted">$blue-800</span>
                 <span class="hex f-small inverted">#194E80</span>
               </div>
               <div class="color-details border-blue-800 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-800 border-blue-800 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-800 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-800 border-blue-800 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-800 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-800 border-blue-800 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-800 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-800 border-blue-800 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-800 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-900 p-2">
                 <span class="variable inverted">$blue-900</span>
                 <span class="hex f-small inverted">#0E3B65</span>
               </div>
               <div class="color-details border-blue-900 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-900 border-blue-900 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-900 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-900 border-blue-900 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-900 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-900 border-blue-900 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-900 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-900 border-blue-900 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-900 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-blue-950 p-2">
                 <span class="variable inverted">$blue-950</span>
                 <span class="hex f-small inverted">#052F56</span>
               </div>
               <div class="color-details border-blue-950 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-blue-950 border-blue-950 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-950 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-950 border-blue-950 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-950 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-blue-950 border-blue-950 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-blue-950 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-blue-950 border-blue-950 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-blue-950 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
           </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-5 mb-lg-0">
      <p class="fw-bold text-muted mb-3">Teal</p>
      <div class="distributed palette">
             <div class="colors">
               <div class="color-overview background-teal-50 p-2">
                 <span class="variable">$teal-50</span>
                 <span class="hex f-small">#EDFFF8</span>
               </div>
               <div class="color-details border-teal-50 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-50 border-teal-50 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-50 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-50 border-teal-50 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-50 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-50 border-teal-50 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-50 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-50 border-teal-50 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-50 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-100 p-2">
                 <span class="variable">$teal-100</span>
                 <span class="hex f-small">#C6FFEB</span>
               </div>
               <div class="color-details border-teal-100 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-100 border-teal-100 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-100 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-100 border-teal-100 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-100 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-100 border-teal-100 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-100 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-100 border-teal-100 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-100 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-200 p-2">
                 <span class="variable">$teal-200</span>
                 <span class="hex f-small">#97FFDA</span>
               </div>
               <div class="color-details border-teal-200 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-200 border-teal-200 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-200 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-200 border-teal-200 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-200 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-200 border-teal-200 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-200 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-200 border-teal-200 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-200 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-300 p-2">
                 <span class="variable">$teal-300</span>
                 <span class="hex f-small">#7CF3C8</span>
               </div>
               <div class="color-details border-teal-300 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-300 border-teal-300 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-300 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-300 border-teal-300 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-300 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-300 border-teal-300 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-300 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-300 border-teal-300 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-300 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-400 p-2">
                 <span class="variable">$teal-400</span>
                 <span class="hex f-small">#54D4A5</span>
               </div>
               <div class="color-details border-teal-400 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold mb-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-400 border-teal-400 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-400 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-400 border-teal-400 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-400 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold mb-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-400 border-teal-400 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-400 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-400 border-teal-400 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-400 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-priority color-overview background-teal-500 p-2">
                 <span class="variable">$teal-500</span>
                 <span class="hex f-small">#31AF87</span>
               </div>
               <div class="color-details border-teal-500 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-500 border-teal-500 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-500 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-500 border-teal-500 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-500 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-500 border-teal-500 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-500 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-500 border-teal-500 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-500 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-600 p-2">
                 <span class="variable">$teal-600</span>
                 <span class="hex f-small">#189372</span>
               </div>
               <div class="color-details border-teal-600 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-600 border-teal-600 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-600 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-600 border-teal-600 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-600 ps-1 pe-1 fw-bold fail">Fail</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-600 border-teal-600 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-600 ps-1 pe-1 fw-bold pass">Pass</div>
                   <div class="inverted d-inline-block background-teal-600 border-teal-600 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-600 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-700 p-2">
                 <span class="variable inverted">$teal-700</span>
                 <span class="hex f-small inverted">#0B7B63</span>
               </div>
               <div class="color-details border-teal-700 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-700 border-teal-700 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-700 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-700 border-teal-700 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-700 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-700 border-teal-700 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-700 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-700 border-teal-700 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-700 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-800 p-2">
                 <span class="variable inverted">$teal-800</span>
                 <span class="hex f-small inverted">#0A6354</span>
               </div>
               <div class="color-details border-teal-800 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-800 border-teal-800 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-800 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-800 border-teal-800 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-800 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-800 border-teal-800 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-800 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-800 border-teal-800 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-800 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-900 p-2">
                 <span class="variable inverted">$teal-900</span>
                 <span class="hex f-small inverted">#0C4D42</span>
               </div>
               <div class="color-details border-teal-900 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-900 border-teal-900 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-900 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-900 border-teal-900 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-900 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-900 border-teal-900 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-900 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-900 border-teal-900 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-900 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
             <div class="colors">
               <div class="color-overview background-teal-950 p-2">
                 <span class="variable inverted">$teal-950</span>
                 <span class="hex f-small inverted">#073F3C</span>
               </div>
               <div class="color-details border-teal-950 p-3">
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Normal</div>
                   <div class="d-inline-block background-teal-950 border-teal-950 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-950 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-950 border-teal-950 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-950 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
                 <div class="color-details--section">
                   <div class="fw-bold m-b-2">WCAG Large</div>
                   <div class="d-inline-block background-teal-950 border-teal-950 ps-1 pe-1">AA</div>
                   <div class="d-inline-block border-teal-950 ps-1 pe-1 fw-bold fail">Fail</div>
                   <div class="inverted d-inline-block background-teal-950 border-teal-950 ps-1 pe-1 m-l-3">AA</div>
                   <div class="d-inline-block border-teal-950 ps-1 pe-1 fw-bold pass">Pass</div>
                 </div>
               </div>
             </div>
           </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-5 mb-lg-0">
      <p class="fw-bold text-muted mb-3">Gray</p>
      <div class="distributed palette">
            <div class="colors">
              <div class="color-overview background-white p-2">
                <span class="variable">$white</span>
                <span class="hex f-small">#FFFFFF</span>
              </div>
              <div class="color-details border-white p-3">
                <div class="color-details--section">
                  <div class="fw-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block background-white border-white ps-1 pe-1">AA</div>
                  <div class="d-inline-block border-white ps-1 pe-1 fw-bold pass">Pass</div>
                  <div class="inverted d-inline-block background-white border-white ps-1 pe-1 m-l-3">AA</div>
                  <div class="d-inline-block border-white ps-1 pe-1 fw-bold fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="fw-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block background-white border-white ps-1 pe-1">AA</div>
                  <div class="d-inline-block border-white ps-1 pe-1 fw-bold pass">Pass</div>
                  <div class="inverted d-inline-block background-white border-white ps-1 pe-1 m-l-3">AA</div>
                  <div class="d-inline-block border-white ps-1 pe-1 fw-bold fail">Fail</div>
                </div>
              </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-50 p-2">
               <span class="variable">$gray-50</span>
               <span class="hex f-small">#F7F7F7</span>
             </div>
             <div class="color-details border-gray-50 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-50 border-gray-50 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-50 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-50 border-gray-50 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-50 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-50 border-gray-50 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-50 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-50 border-gray-50 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-50 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-100 p-2">
               <span class="variable">$gray-100</span>
               <span class="hex f-small">#EBEBEB</span>
             </div>
             <div class="color-details border-gray-100 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-100 border-gray-100 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-100 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-100 border-gray-100 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-100 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-100 border-gray-100 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-100 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-100 border-gray-100 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-100 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-200 p-2">
               <span class="variable">$gray-200</span>
               <span class="hex f-small">#DBDBDB</span>
             </div>
             <div class="color-details border-gray-200 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-200 border-gray-200 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-200 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-200 border-gray-200 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-200 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-200 border-gray-200 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-200 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-200 border-gray-200 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-200 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-300 p-2">
               <span class="variable">$gray-300</span>
               <span class="hex f-small">#BCBCBC</span>
             </div>
             <div class="color-details border-gray-300 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-300 border-gray-300 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-300 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-300 border-gray-300 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-300 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-300 border-gray-300 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-300 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-300 border-gray-300 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-300 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-400 p-2">
               <span class="variable">$gray-400</span>
               <span class="hex f-small">#9A9A9A</span>
             </div>
             <div class="color-details border-gray-400 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-400 border-gray-400 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-400 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-400 border-gray-400 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-400 ps-1 pe-1 fw-bold fail">Fail</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-400 border-gray-400 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-400 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-400 border-gray-400 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-400 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-priority color-overview background-gray-500 p-2">
               <span class="variable inverted">$gray-500</span>
               <span class="hex f-small inverted">#747474</span>
             </div>
             <div class="color-details border-gray-500 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-500 border-gray-500 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-500 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-500 border-gray-500 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-500 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-500 border-gray-500 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-500 ps-1 pe-1 fw-bold pass">Pass</div>
                 <div class="inverted d-inline-block background-gray-500 border-gray-500 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-500 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-600 p-2">
               <span class="variable inverted">$gray-600</span>
               <span class="hex f-small inverted">#5F5F5F</span>
             </div>
             <div class="color-details border-gray-600 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-600 border-gray-600 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-600 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-600 border-gray-600 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-600 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-600 border-gray-600 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-600 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-600 border-gray-600 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-600 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-700 p-2">
               <span class="variable inverted">$gray-700</span>
               <span class="hex f-small inverted">#4B4B4B</span>
             </div>
             <div class="color-details border-gray-700 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-700 border-gray-700 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-700 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-700 border-gray-700 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-700 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-700 border-gray-700 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-700 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-700 border-gray-700 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-700 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-800 p-2">
               <span class="variable inverted">$gray-800</span>
               <span class="hex f-small inverted">#3D3D3D</span>
             </div>
             <div class="color-details border-gray-800 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-800 border-gray-800 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-800 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-800 border-gray-800 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-800 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-800 border-gray-800 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-800 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-800 border-gray-800 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-800 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-900 p-2">
               <span class="variable inverted">$gray-900</span>
               <span class="hex f-small inverted">#2A2929</span>
             </div>
             <div class="color-details border-gray-900 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-900 border-gray-900 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-900 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-900 border-gray-900 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-900 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-900 border-gray-900 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-900 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-900 border-gray-900 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-900 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
             </div>
           </div>
           <div class="colors">
             <div class="color-overview background-gray-950 p-2">
               <span class="variable inverted">$gray-950</span>
               <span class="hex f-small inverted">#1B1B1B</span>
             </div>
             <div class="color-details border-gray-950 p-3">
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Normal</div>
                 <div class="d-inline-block background-gray-950 border-gray-950 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-950 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-950 border-gray-950 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-950 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
               <div class="color-details--section">
                 <div class="fw-bold m-b-2">WCAG Large</div>
                 <div class="d-inline-block background-gray-950 border-gray-950 ps-1 pe-1">AA</div>
                 <div class="d-inline-block border-gray-950 ps-1 pe-1 fw-bold fail">Fail</div>
                 <div class="inverted d-inline-block background-gray-950 border-gray-950 ps-1 pe-1 m-l-3">AA</div>
                 <div class="d-inline-block border-gray-950 ps-1 pe-1 fw-bold pass">Pass</div>
               </div>
             </div>
           </div>
           <div class="colors">
              <div class="color-overview background-black p-2">
                <span class="variable inverted">$black</span>
                <span class="hex f-small inverted">#000000</span>
              </div>
              <div class="color-details border-black p-3">
                <div class="color-details--section">
                  <div class="fw-bold m-b-2">WCAG Normal</div>
                  <div class="d-inline-block background-black border-black ps-1 pe-1">AA</div>
                  <div class="d-inline-block border-black ps-1 pe-1 fw-bold pass">Pass</div>
                  <div class="inverted d-inline-block background-black border-black ps-1 pe-1 m-l-3">AA</div>
                  <div class="d-inline-block border-black ps-1 pe-1 fw-bold fail">Fail</div>
                </div>
                <div class="color-details--section">
                  <div class="fw-bold m-b-2">WCAG Large</div>
                  <div class="d-inline-block background-black border-black ps-1 pe-1">AA</div>
                  <div class="d-inline-block border-black ps-1 pe-1 fw-bold pass">Pass</div>
                  <div class="inverted d-inline-block background-black border-black ps-1 pe-1 m-l-3">AA</div>
                  <div class="d-inline-block border-black ps-1 pe-1 fw-bold fail">Fail</div>
                </div>
              </div>
           </div>
         </div>
      </div>
    </div>

    <h2 id="gradients" class="pt-5">Gradients</h2>
    <p>Gradients are made out of at least 2 colors from the extended palette, You can use the following ones for any gradient direction. Please ensure color transitions within a gradient are smooth and don’t feel skewed.</p>

    <div class="row justify-content-between pt-3 pb-5">
      <div class="col-6 col-xl-2 col-lg-6 col-sm-6 d-block d-lg-flex mb-3 mb-sm-0 justify-content-between align-items-center">
          <div class="curved background-gradient-dual py-5 px-5">
          </div>
          <div>
          <p class="mb-3 mb-lg-0 mt-2 mt-lg-0"><span class="fw-bold d-inline-block mb-3">$dual</span>
          <br>$teal-300
          <br>$blue-800
          </p>
          </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-6 col-sm-6 d-block d-lg-flex mb-3 mb-sm-0 justify-content-between align-items-center">
          <div class="curved background-gradient-blue py-5 px-5">
        </div>
        <div>
        <p class="mb-3 mb-lg-0 mt-2 mt-lg-0"><span class="fw-bold d-inline-block mb-3">$blue</span>
          <br>$teal-300
          <br>$blue-800
          </p>
          </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-6 col-sm-6 d-block d-lg-flex mb-3 mb-sm-0 justify-content-between align-items-center">
          <div class="curved background-gradient-dark-blue py-5 px-5">
        </div>
        <div>
        <p class="mb-3 mb-lg-0 mt-2 mt-lg-0"><span class="fw-bold d-inline-block mb-3">$dark-blue</span>
          <br>$teal-300
          <br>$blue-800
          </p>
          </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-6 col-sm-6 d-block d-lg-flex mb-3 mb-sm-0 justify-content-between align-items-center">
          <div class="curved background-gradient-teal py-5 px-5">
        </div>
        <div>
        <p class="mb-3 mb-lg-0 mt-2 mt-lg-0"><span class="fw-bold d-inline-block mb-3">$teal</span>
          <br>$teal-300
          <br>$teal-500
          </p>
          </div>
      </div>
      <div class="col-6 col-xl-2 col-lg-6 col-sm-6 d-block d-lg-flex mb-3 mb-sm-0 justify-content-between align-items-center">
          <div class="curved background-gradient-light-teal py-5 px-5">
        </div>
        <div>
        <p class="mb-0 mt-2 mt-lg-0"><span class="fw-bold d-inline-block mb-3">$light-teal</span>
          <br>$teal-100
          <br>$teal-300
          </p>
          </div>
      </div>
    </div>

    <h2 id="download" class="pt-5">Download</h2>
    <p>You can download the color palette in various formats, including SCSS, GIMP and Adobe Photoshop/Illustrator swatches.</p>

    <div class="dropdown pb-5">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="packagedownloads" data-bs-toggle="dropdown" aria-expanded="false">
        Download
      </button>
      <ul class="dropdown-menu" aria-labelledby="packagedownloads">
        <li><a class="dropdown-item" href="/images/content/colors.scss" download>SCSS</a></li>
        <li><a class="dropdown-item" href="/images/content/Ferrocene.gpl" download>GIMP Palette</a></li>
      </ul>
    </div>

  </div>
</div>