---
title: Graphics - Ferrocene Style Guide
---

<div class="col-lg-10 offset-lg-2 col-md-12 py-5">
  <div class="container">
    <h1 class="pb-4">Graphics</h1>

    <h2 id="backgrounds" class="pb-2">Backgrounds</h2>
    <p>We use heavily blurred abstract shapes to create a bokeh feel for our imagery. You can use them in marketing materials or web.</p>

    <div class="row justify-content-between my-4">
      <div class="col-md-6 mb-3 mb-md-0">
          <p class="fw-bold text-muted mb-1">Background 1</p>
          <img loading="lazy" src="/images/content/background-1.jpg" width="100%" title="Background one with left aligned text" alt="Background one with left aligned text">
          <div class="dropdown text-end mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="backgroundonedownload" data-bs-toggle="dropdown" aria-expanded="false">
              Download
            </button>
            <ul class="dropdown-menu" aria-labelledby="backgroundonedownload">
              <li><a class="dropdown-item" href="/images/content/background-download-1.jpg" download>.JPG file</a></li>
              <li><a class="dropdown-item" href="/images/content/background-1.svg" download>.SVG file</a></li>
            </ul>
          </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-0">
          <p class="fw-bold text-muted mb-1">Background 2</p>
          <img loading="lazy" src="/images/content/background-2.jpg" width="100%" title="Background two with center aligned text" alt="Background two with center aligned text">
          <div class="dropdown text-end mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="backgroundtwodownload" data-bs-toggle="dropdown" aria-expanded="false">
              Download
            </button>
            <ul class="dropdown-menu" aria-labelledby="backgroundtwodownload">
              <li><a class="dropdown-item" href="/images/content/background-download-2.jpg" download>.JPG file</a></li>
              <li><a class="dropdown-item" href="/images/content/background-2.svg" download>.SVG file</a></li>
            </ul>
          </div>
      </div>
    </div>

    <div class="row justify-content-between mb-4">
      <div class="col-md-6 mb-3 mb-md-0">
          <p class="fw-bold text-muted mb-1">Background 3</p>
          <img loading="lazy" src="/images/content/background-3.jpg" width="100%" title="Background three with left aligned text" alt="Background three with left aligned text">
          <div class="dropdown text-end mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="backgroundthreedownload" data-bs-toggle="dropdown" aria-expanded="false">
              Download
            </button>
            <ul class="dropdown-menu" aria-labelledby="backgroundthreedownload">
              <li><a class="dropdown-item" href="/images/content/background-download-3.jpg" download>.JPG file</a></li>
              <li><a class="dropdown-item" href="/images/content/background-3.svg" download>.SVG file</a></li>
            </ul>
          </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-0">
          <p class="fw-bold text-muted mb-1">Background 4</p>
          <img loading="lazy" src="/images/content/background-4.jpg" width="100%" title="Background four with center aligned text" alt="Background four with center aligned text">
          <div class="dropdown text-end mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="backgroundfourdownload" data-bs-toggle="dropdown" aria-expanded="false">
              Download
            </button>
            <ul class="dropdown-menu" aria-labelledby="backgroundfourdownload">
              <li><a class="dropdown-item" href="/images/content/background-download-4.jpg" download>.JPG file</a></li>
              <li><a class="dropdown-item" href="/images/content/background-4.svg" download>.SVG file</a></li>
            </ul>
          </div>
      </div>
    </div>

    <div class="row justify-content-between mb-4">
      <div class="col-md-6 mb-3 mb-md-0">
          <p class="fw-bold text-muted mb-1">Background 5</p>
          <img loading="lazy" src="/images/content/background-5.jpg" width="100%" title="Background five with left aligned text" alt="Background five with left aligned text">
          <div class="dropdown text-end mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="backgroundfivedownload" data-bs-toggle="dropdown" aria-expanded="false">
              Download
            </button>
            <ul class="dropdown-menu" aria-labelledby="backgroundfivedownload">
              <li><a class="dropdown-item" href="/images/content/background-download-5.jpg" download>.JPG file</a></li>
              <li><a class="dropdown-item" href="/images/content/background-5.svg" download>.SVG file</a></li>
            </ul>
          </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-0">
          <p class="fw-bold text-muted mb-1">Background 6</p>
          <img loading="lazy" src="/images/content/background-6.jpg" width="100%" title="Background six with center aligned text" alt="Background six with center aligned text">
          <div class="dropdown text-end mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="backgroundsixdownload" data-bs-toggle="dropdown" aria-expanded="false">
              Download
            </button>
            <ul class="dropdown-menu" aria-labelledby="backgroundsixdownload">
              <li><a class="dropdown-item" href="/images/content/background-download-6.jpg" download>.JPG file</a></li>
              <li><a class="dropdown-item" href="/images/content/background-6.svg" download>.SVG file</a></li>
            </ul>
          </div>
      </div>
    </div>

  </div>
</div>