---
title: Introduction - Ferrocene Style Guide
---

<div class="col-lg-10 offset-lg-2 col-md-12 py-5">
  <div class="container">
    <h1>Introduction</h1>

    <img
      class="intro"
      src="/images/content/intro.svg"
      title="Ferrocene logo"
      alt="Ferrocene logo"
      loading = "lazy"
    />

    <h2>About</h2>

    <p>
      Ferrocene’s smiled understandingly-much more than understandingly. It was
      one of those rare smiles with a quality of eternal reassurance in it, that
      you may come across four or five times in life. It faced--or seemed to
      face--the whole eternal world for an instant, and then concentrated on you
      with an irresistible prejudice in your favor. It understood you just as
      far as you wanted to be understood, believed in you as you would like to
      believe in yourself, and assured you that it had precisely the impression
      of you that, at your best, you hoped to convey.
    </p>

    <h2 class="pt-5">Brand Guidelines</h2>

    <p>
      Ferrocene’s smiled understandingly-much more than understandingly. It was
      one of those rare smiles with a quality of eternal reassurance in it, that
      you may come across four or five times in life. It faced--or seemed to
      face--the whole eternal world for an instant, and then concentrated on you
      with an irresistible prejudice in your favor. It understood you just as
      far as you wanted to be understood, believed in you as you would like to
      believe in yourself, and assured you that it had precisely the impression
      of you that, at your best, you hoped to convey.
    </p>

    <h2 class="pt-5">Questions?</h2>

    <p>
      Feel free to contribute on GitHub, file issues and review pull requests.
      Lorem Ipsum, proper onboarding needed here.
    </p>

    <a
      class="arrow-link"
      href="https://github.com/ferrous-systems/ferrocene-style-guide"
      target="_blank"
      rel="noopener"
      title="GitHub repository"
      >GitHub</a
    >
  </div>
</div>
