---
title: Logo - Ferrocene Style Guide
---

<div class="col-lg-10 offset-lg-2 col-md-12 py-5">
  <div class="container">
    <h1 class="pb-4">Logo</h1>

    <h2 id="composition" class="pb-2">Composition</h2>

    <div class="row justify-content-between pb-4">
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="background-gray-50 text-center py-5">
          <img loading="lazy" src="/images/content/horizontal-composition.svg" height="180" width="auto" title="The horizontal logo composition" alt="The horizontal logo composition">
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="background-gray-50 text-center py-5">
          <img loading="lazy" src="/images/content/vertical-composition.svg" height="180" width="auto" title="The vertical logo composition" alt="The vertical logo composition">
        </div>
      </div>
    </div>

    <h2 id="safe-space" class="pt-5">Safe Space</h2>
    <p>Ensure the safe space around the logo is respected n The safe shpace should not overlap with any other visual object.</p>

    <div class="row justify-content-between pb-3">
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="py-3">
          <img loading="lazy" src="/images/content/horizontal-safe-space.svg" width="650" title="The horizontal logo safe space" alt="The horizontal logo safe space">
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-sm-0">
        <div class="text-center text-md-end py-3">
          <img loading="lazy" src="/images/content/vertical-safe-space.svg" width="650" title="The vertical logo safe space" alt="The vertical logo safe space">
        </div>
      </div>
    </div>

    <h2 id="backgrounds" class="pt-5">Logo Backgrounds</h2>
    <p>The logo should always be used in conjunction with the brand color or photography (when applicable). Color filters using the Ferrocene brand colors over the photography is encouraged. A white logo on dark background has limited usage and should be only used in cases when the brand colors of Ferrocene are not applicable.</p>

    <div class="row justify-content-between">
      <div class="col-md-6 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/background-one.jpg" width="100%" title="A dark background" alt="White Ferrocene logo over a dark blue background">
      </div>
      <div class="col-md-6 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/background-two.jpg" width="100%" title="A light teal background" alt="Blue Ferrocene logo over a light teal background">
      </div>
    </div>

    <div class="row justify-content-between pt-4 pb-5">
      <div class="col-md-4 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/background-blue.jpg" width="100%" title="A blue background" alt="White Ferrocene logo over a dark blue background">
      </div>
      <div class="col-md-4 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/background-teal.jpg" width="100%" title="A teal background" alt="Blue Ferrocene logo over a teal background">
      </div>
      <div class="col-md-4 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/background-black.jpg" width="100%" title="A black background" alt="White Ferrocene logo over a black background">
      </div>
    </div>

    <h2 id="video" class="pt-5">Video</h2>
    <p>On video mediums, the white monochrome vertical logo with 50% opacity can be used in any corner most fitting with the video image. Avoid using the logo on noisy backgrounds.</p>

    <div class="row justify-content-between pb-5">
      <div class="col-md-6 mb-3 mb-sm-0">
          <p><i class="far fa-check do"></i> Do:</p>
          <img loading="lazy" src="/images/content/video-do.jpg" width="100%" title="A video with watermark on bottom right" alt="Video still with the Ferrocene watermark placed on the bottom right">
      </div>
      <div class="col-md-6 mb-3 mb-sm-0">
          <p><i class="far fa-times dont"></i> Do not:</p>
          <img loading="lazy" src="/images/content/video-do-not.jpg" width="100%" title="A video with watermark on top right" alt="Video still with the Ferrocene watermark placed on the top right">
      </div>
    </div>

    <h2 id="incorrect-usage" class="pt-5">Incorrect usage</h2>
    <p>Refrain from altering the logo in any way not provided by this style guide.</p>

    <div class="row justify-content-between pt-4 pb-5 text-center">
      <div class="col-md-2 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/incorrect-stretch.png" height="80px" title="Stretched logo" alt="An example of incorrect logo stretching">
          <p class="mt-3 mb-sm-0">stretch</p>
      </div>
      <div class="col-md-2 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/incorrect-color-change.png" height="80px" title="Color-changed logo" alt="An example of an incorrent color change of the logo">
          <p class="mt-3 mb-sm-0">color change</p>
      </div>
      <div class="col-md-2 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/incorrect-rotate.png" height="80px" title="Rotated logo" alt="An example of incorrect logo rotation">
          <p class="mt-3 mb-sm-0">rotate</p>
      </div>
      <div class="col-md-2 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/incorrect-flip.png" height="80px" title="Flipped logo" alt="An example of incorrect logo flipping">
          <p class="mt-3 mb-sm-0">flip</p>
      </div>
      <div class="col-md-2 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/incorrect-outline.png" height="80px" title="Outlined logo" alt="An example of incorrect logo outlining">
          <p class="mt-3 mb-sm-0">outline</p>
      </div>
      <div class="col-md-2 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/incorrect-typography-change.png" height="80px" title="Logo with a different typography" alt="An example of incorrect logo typography changing">
          <p class="mt-3 mb-sm-0">typography change</p>
      </div>
    </div>

    <div class="row justify-content-between pt-4 text-center">
      <div class="col-md-4 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/main-on-dark-background.jpg" title="Main logo on dark background" alt="Incorrect usage of the main logo on a dark background">
          <p class="mt-3 mb-sm-0">main logo on dark background</p>
      </div>
      <div class="col-md-4 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/white-on-light-background.jpg" title="White logo on light background" alt="Incorrect usage of the white logo on a light background">
          <p class="mt-3 mb-sm-0">white logo on light background</p>
      </div>
      <div class="col-md-4 mb-3 mb-sm-0">
          <img loading="lazy" src="/images/content/black-on-dark-background.jpg" title="Black logo on dark background" alt="Incorrect usage of the black logo on a dark background">
          <p class="mt-3 mb-sm-0">black logo on dark background</p>
      </div>
    </div>

    <h2 id="download" class="pt-5">Download</h2>
    <p>You can download the various logo formats here. The package includes vertical, horizontal and avatar logos in various color schemes and formats.</p>

    <div class="dropdown pb-5">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="packagedownloads" data-bs-toggle="dropdown" aria-expanded="false">
        Download
      </button>
      <ul class="dropdown-menu" aria-labelledby="packagedownloads">
        <li><a class="dropdown-item" href="/images/content/logo.zip" download>.zip file</a></li>
      </ul>
    </div>

  </div>
</div>